@font-face { font-family: IntegralCF_Heavy; src: url('IntegralCF_Heavy.otf') format("opentype"); }
@font-face { font-family: Snake; src: url('Snake.otf') format("opentype"); }

body{
    margin: 0;
    padding: 0;
    background-color: #A0AECD;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-family: IntegralCF_Heavy;
    font-size: 8vw;
    white-space: nowrap;
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -0.2ch);
    color: #BCFD4C;
    text-decoration: none;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    z-index: 1000;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 0.6ch;
    background-color: #A0AECD;
    box-shadow: 0px 5px 5px #768198;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transform: translate(9%, 90%);
    width: 85%;
    position: fixed;
    z-index: 1000;
}

.menu_button{
    font-family: Snake;
    font-weight: normal;
    font-size: 3vw;
    color: #BCFD4C;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}

.buttons{
    text-decoration: none;
}

.buttons:hover h1{
    font-family: IntegralCF_Heavy;
    font-size: 1vw;
    letter-spacing: 1px;
}

img{
    border-radius: 10px;
    width: 35%;
    height: 35%;
    box-shadow: 5px 5px 10px #768198;
}

.cadre_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(45%);
    color: #BCFD4C;
    font-family: IntegralCF_Heavy;
    font-size: 3vw;
}

.cadre_1 > div > p{
    width: 90%;
    margin-left: 2ch;
}

.cadre_1 > img{
    margin-right: 2ch;
}

.en_savoir_plus{
    background-color: #BCFD4C;
    font-family: IntegralCF_Heavy;
    font-size: 1.5vw;
    color: #A0AECD;
    font-style: italic;
    border-radius: 5px;
    border: none;
    width: 40%;
    transform: translateX(70%);
    padding-bottom: 0.3ch;
}

.text_button{
    display: flex;
    flex-direction: column;
    
}

.en_savoir_plus:hover{
    color: #BCFD4C;
    background-color: #A0AECD;
}




.cadre_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(65%);
    color: #BCFD4C;
    font-family: IntegralCF_Heavy;
    font-size: 3vw;
}

.cadre_2 > div > p{
    width: 90%;
    margin-left: 2ch;
}

.cadre_2 > img{
    margin-left: 2ch;
}

.text_button_2{
    display: flex;
    flex-direction: column;
    
}



.cadre_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(85%);
    color: #BCFD4C;
    font-family: IntegralCF_Heavy;
    font-size: 3vw;
}

.cadre_3 > div > p{
    width: 90%;
    margin-left: 2ch;
}

.cadre_3 > img{
    margin-right: 2ch;
}

.text_button_3{
    display: flex;
    flex-direction: column;
}



.cadre_4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(105%);
    color: #BCFD4C;
    font-family: IntegralCF_Heavy;
    font-size: 3vw;
}

.cadre_4 > div > p{
    width: 90%;
    margin-left: 2ch;
}

.cadre_4 > img{
    margin-left: 2ch;
}

.text_button_4{
    display: flex;
    flex-direction: column;
    
}

.cgu{
    font-family: IntegralCF_Heavy;
    font-size: 1vw;
    white-space: nowrap;
    text-align: center;
    transform: translateY(50ch);
    padding-bottom: 1ch;
    color: #BCFD4C;
    text-decoration: none;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}