@font-face { font-family: Integral_CF_Heavy; src: url('Integral_CF_Heavy.otf') format("opentype"); }


.title{
    font-family: Integral_CF_Heavy;
    font-size: 7vw;
    white-space: nowrap;
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
}

body{
    background-color: #e94823;
}