@font-face { font-family: Integral_CF_Heavy; src: url('Integral_CF_Heavy.otf') format("opentype"); }
@font-face { font-family: Snake; src: url('Snake.otf') format("opentype"); }

body{
    background-color: #e94823;
}

.title{
    font-family: Integral_CF_Heavy;
    font-size: 8vw;
    white-space: nowrap;
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transform: translate(9%, 110%);
    width: 85%;
}

.menu_button{
    font-family: Snake;
    font-weight: normal;
    font-size: 3vw;
    color: white;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}

.buttons{
    text-decoration: none;
}

.buttons:hover h1{
    font-family: Integral_CF_Heavy;
    font-size: 1vw;
    letter-spacing: 1px;
}