@font-face { font-family: IntegralCF_Heavy; src: url('IntegralCF_Heavy.otf') format("opentype"); }
@font-face { font-family: Snake; src: url('Snake.otf') format("opentype"); }

body{
    margin: 0;
    padding: 0;
    background-color: #A0AECD;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-family: IntegralCF_Heavy;
    font-size: 8vw;
    white-space: nowrap;
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -0.2ch);
    color: #BCFD4C;
    text-decoration: none;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    z-index: 1000;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 0.6ch;
    background-color: #A0AECD;
    box-shadow: 0px 5px 5px #768198;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transform: translate(9%, 90%);
    width: 85%;
    position: fixed;
    z-index: 1000;
}

.menu_button{
    font-family: Snake;
    font-weight: normal;
    font-size: 3vw;
    color: #BCFD4C;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}

.buttons{
    text-decoration: none;
}

.buttons:hover h1{
    font-family: IntegralCF_Heavy;
    font-size: 1vw;
    letter-spacing: 1px;
}



.section_title{
    font-family: IntegralCF_Heavy;
    font-size: 2vw;
    letter-spacing: 1px;
    color: #BCFD4C;
    position: absolute;
    transform: translate(227%, 550%);
    z-index: 950;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}



.placeholder{
    border-radius: 5px;
    width: 18%;
    height: 18%;
    box-shadow: 5px 5px 10px #768198;
}

.grille_1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transform: translate(9%, 130%);
    width: 85%;
    z-index: 900;
    cursor: pointer;
}


.grille_2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transform: translate(9%, 150%);
    width: 85%;
    z-index: 900;
    cursor: pointer;
}


.grille_3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transform: translate(9%, 170%);
    width: 85%;
    z-index: 900;
    cursor: pointer;
}


.placeholder:hover{
    box-shadow: 10px 10px 5px #768198;
}


